In [1]:
import pandas as pd
import numpy as np

In [2]:
crime_data_to_load = "crimedata.csv"

In [3]:
crimedata = pd.read_csv(crime_data_to_load)
crimedata.head()

,OFFENSE_CODE,OFFENSE_DESCRIPTION,DISTRICT,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,STREET,Location
0,520,BURGLARY - RESIDENTIAL,B2,1,10/13/21 0:00,2021,10,Wednesday,0,SCHROEDER PLZ,"(42.33367921810846, -71.09187754618458)"
1,3114,INVESTIGATE PROPERTY,B2,0,5/12/21 0:00,2021,5,Wednesday,0,SCHROEDER PLZ,"(42.33367921810846, -71.09187754618458)"
2,3114,INVESTIGATE PROPERTY,B2,0,5/12/21 0:00,2021,5,Wednesday,0,SCHROEDER PLZ,"(42.33367921810846, -71.09187754618458)"
3,3114,INVESTIGATE PROPERTY,B2,0,3/29/21 0:00,2021,3,Monday,0,SCHROEDER PLAZA,"(0, 0)"
4,3201,PROPERTY - LOST/ MISSING,E13,0,3/22/21 0:00,2021,3,Monday,0,BLUE HILL AVE,"(42.28482576580488, -71.09137368938802)"

In [4]:
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

import time
from sqlalchemy import create_engine

In [5]:
db_string = f"postgresql://postgres:{db_password}@localhost:5432/CRIME_DATA_2"

In [6]:
engine = create_engine(db_string)
crimedata.to_sql(name='Crime_final_1', con=engine, if_exists='replace')

721

In [9]:
crime_reports_to_load= "crime_incident-reports_2018.csv"

In [10]:

crime_reports = pd.read_csv(crime_reports_to_load)
crime_reports.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192077559,3115,Investigate Person,INVESTIGATE PERSON,B3,468,NaN,2018-04-30 09:00:00,2018,4,Monday,9,Part Three,HAZLETON ST,42.279971,-71.095534,"(42.27997063, -71.09553354)"
1,I192077332,619,Larceny,LARCENY ALL OTHERS,E18,496,NaN,2018-03-06 08:00:00,2018,3,Tuesday,8,Part One,HYDE PARK AVE,42.269224,-71.120853,"(42.26922388, -71.12085347)"
2,I192076660,2629,Harassment,HARASSMENT,E5,662,NaN,2018-10-31 12:00:00,2018,10,Wednesday,12,Part Two,PRIMROSE ST,42.290765,-71.130211,"(42.29076521, -71.13021098)"
3,I192075386,2629,Harassment,HARASSMENT,A1,96,NaN,2018-04-09 08:43:00,2018,4,Monday,8,Part Two,ATLANTIC AVE,42.355264,-71.050988,"(42.35526402, -71.05098788)"
4,I192075335,3208,Property Lost,PROPERTY - MISSING,D4,132,NaN,2018-01-01 00:00:00,2018,1,Monday,0,Part Three,COMMONWEALTH AVE,42.353522,-71.072838,"(42.35352153, -71.07283786)"

In [ ]:
engine = create_engine(db_string)
crimedata.to_sql(name='Crime_final_1', con=engine, if_exists='replace')